# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class

# Model weights
#**/*.pth
#**/*.onnx
# Ipython notebook
*.ipynb

# Temporary files or benchmark resources
animations/*
tmp/*
gradio_cached_examples/
*.mp4
*.wav
*.jpg
*.jpeg
*.gif
*.png
!vendor/liveportrait/src/utils/resources/mask_template.png
!Icon.png
.env
enliven_output/
vendor/liveportrait/assets/examples/
vendor/liveportrait/assets/docs/
vendor/liveportrait/pretrained_weights/
vendor/liveportrait/src/utils/dependencies/insightface/data/
test.jpeg
test.jpg
test_cropped_output.jpg
test_vid.mp4